 <header class="site-navbar container py-0 bg-white" role="banner">

        <!-- <div class="container"> -->
        <div class="row align-items-center">

            <div class="col-6 col-xl-2">
                <h1 class="mb-0 site-logo"><a href="/" class="text-black
                mb-0">TASK<span class="text-primary">Cats</span>  </a></h1>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">

                    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li><a href="/">Home</a></li>

                        <li class="ml-xl-3 login">
                            <% if(!auth){ %>
                            <a href="/login"><span class="border-left pl-xl-4"></span>Log In</a>
                            <% } else{%>
                            <a href="/logout"><span class="border-left pl-xl-4"></span>Log Out</a>
                            <% } %>
                        </li>

                        <% if(!auth){ %>
                        <li class="active"><a href="/signup">Register</a></li>
                        <% } else{ %>
                        <li class="active"><a href="/profile?user=<%=user%>">My Profile</a></li>
                        <% } %>

                        <% if(auth){ %>
                        <li class="active"><a href="/dashboard">My Dashboard</a></li>
                        <% } else{ %>
                        <% } %>

                    </ul>
                </nav>
            </div>


            <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right" style="position: relative; top: 3px;">
                <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
            </div>

        </div>
        <!-- </div> -->

    </header>
