<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registered Users</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="css/aos.css">
  <link rel="stylesheet" href="css/rangeslider.css">

  <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <%- include navbar.ejs %>

  <%- include('title.ejs', {title: "Profile"}) %>

  <div class="site-section"  data-aos="fade">
    <div class="container">

      <div class="row mb-5">
        <div class="text-left border-primary">
          <h2 class="font-weight-light text-primary pb-3">Basic Information</h2>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-address-card"></i> &nbsp; Basic Information

        </div>
        <form method="post" action="/update_info">
          <div class="card-body">
            <div class="form-group row">
              <label for="firstname" class="col-sm-2
              col-form-label"><b>Name:</b></label>
              <div class="col-sm-4">
                <input type="text" required="required" class="form-control"
                       id="rname" placeholder="Name"
                       name="rname" value="Ninomiya Kazunari">
              </div>

              <label for="lastname" class="col-sm-2
              col-form-label"><b>Gender:</b></label>
              <div class="col-sm-4">
                <input type="text" required="required" class="form-control"
                       id="gender" placeholder="Enter Female or Male"
                       name="gender" value="Male">
              </div>
              <div class="card-footer small text-muted"><button type="submit" class="btn btn-secondary">Update Info</button> &nbsp;&nbsp;&nbsp; <span class="badge badge-pill badge-info"><%= info_msg %></span></div>
            </div>
          </div>
      </div>

      </form>
    </div>

  </div>
</div>
<%- include footer.ejs %>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/rangeslider.min.js"></script>

<script src="js/main.js"></script>

</body>
